* {
    font-family: 'Lora', serif;
    /* border: 1px solid red; */
}

:root {
    --primary: rgb(249, 240, 219);
    --secondary: #737373;
    --tertiary: #ebee30;
    --error: rgb(228, 46, 1);
}

.page-contain {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
}

/* NAV */
.nav {
    min-height: 40px;
    position: absolute;
    background-color: #0000;

    display: flex;
    flex-direction: row;

    align-items: center;

    list-style-type: none;


}

.nav p {
    font-family: 'Lora', serif;
    font-size: 24px;
    color: var(--primary);
    margin-right: 100px;
}

.nav a {
    font-family: 'Lora', serif;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    color: var(--tertiary);
    text-decoration: none;
    align-self: end;
    justify-self: end;
    align-items: end;
    justify-items: end;
}

.nav a.active,
.nav a:hover {
    font-style: italic;
    color: var(--primary);
}

/* HOME PAGE */
.home-contain {
    display: flex;
    flex-direction: row;
}
.home-top-left {
    margin-top: 0;
    margin-left: 0;
    width: 65%;
    height: auto;
}
.home-top-left img {
    width: 100%;
    height: 100%;
}
.home-top-right {
    width: 35%;
    height: auto;
    background-color: var(--primary);
}



/* FOOTER */
.footer {
    font-size: 15px;
    font-style: italic;
    background-image: linear-gradient(to right, var(--primary), whitesmoke);
    /* bottom: 0px;
    height: 40px; */
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

@media screen and (max-width: 768px) {

}